<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

        <button class="navbar-brand btn btn-light" routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [disabled]="!isAunthenticated">Login</button>
        <button class="navbar-brand btn btn-light" routerLink='/products' routerLinkActive="active" [disabled]="isAunthenticated">Products</button>
        <button class="navbar-brand btn btn-light" routerLink='/cart' routerLinkActive="active" [disabled]="isAunthenticated">My Cart</button>
        <button class="navbar-brand btn btn-light" routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLogout()" [disabled]="isAunthenticated">LogOut</button>

    </div>
</nav>