<p>login works!</p>
<form>

    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <label for="uname"> <b> Username :  </b>    </label>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="this.userName" class="form-control">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <label for="psw"><b>Password :</b></label>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="this.password" class="form-control">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <button class="btn btn-primary form-control" (click)="onLogin()"> Login</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-secondary form-control" (click)="onClear()">Clear</button></div>
            <div class="col-sm-3"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="btn btn-danger" *ngIf="isMsg">{{toastMsg}}</h3>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</form>